/* core elements setup */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  min-height: 100%;

  background: #e5e5e5;
}

.notes-list-divider {
  background: #dfe1e4;
  height: 1.6px;
}

.content-component {
  flex-grow: 1;
}
